@model IEnumerable < CSDHRProject.BenefitsModels.>

@{
    ViewBag.Title = "Claims";
}

<h2>View Claims</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Service)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Service)
        </td>

        <td>
            @Html.ActionLink("Accept", "Accept", new { id = item.Id })
        </td>
    </tr>
    }
</table>
