@model CSDHRProject.Models.BenefitRegistration
<h1>Benefit Options</h1>
<h3>Please select one of the options for each section</h3>
<p> </p>
@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()
@*<h4>Realtionship status</h4>
Single: @Html.RadioButton("RealtionshipStatus", "true")
Family: @Html.RadioButton("RealtionshipStatus", "false")
<p> </p>*@
@*<h4>Benefit type</h4>
Standard: @Html.RadioButton("BenefitType", "true")
Extended: @Html.RadioButton("BenefitType", "false")
<p> </p>*@
@*<h4>Dental</h4>
Dental: @Html.RadioButton("Dental", "true")
No Dental: @Html.RadioButton("Dental", "false")
<p> </p>*@
@*<h4>Optical</h4>
    Optical: @Html.RadioButton("Optical", "true")
No Optical: @Html.RadioButton("Optical", "false")
<p> </p>*@
@*<h4>Paramedical</h4>
Paramedical: @Html.RadioButton("Paramedical", "true")
No Paramedical: @Html.RadioButton("Paramedical", "false")
<p> </p>*@

<div class="form-group">
    @Html.LabelFor(model => model.RealtionshipStatus, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.RealtionshipStatus, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.RealtionshipStatus, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BenefitType, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.BenefitType, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BenefitType, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Dental, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Dental, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Dental, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Optical, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Optical, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Optical, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Paramedical, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Paramedical, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Paramedical, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>
}
