@model CSDHRProject.Models.BenefitRegistration

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BenefitRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RealtionshipStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealtionshipStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BenefitType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenefitType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dental)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dental)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Optical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Optical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paramedical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paramedical)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
