@model IEnumerable<CSDHRProject.Models.BenefitRegistration>
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "Index";
    var userData = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());
}

<h2>Index</h2>
@if (userData != null)
{
    @Html.ActionLink("EmployeeClaims", "Index")
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealtionshipStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenefitType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dental)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Optical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paramedical)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealtionshipStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BenefitType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dental)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Optical)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paramedical)
                </td>
                <td>

                    if (userData.manager)
                    {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }


    </table>
}
else
{
    <h2>You must be logged in to access this information</h2>
}
