@model IEnumerable<CSDHRProject.Models.PayrollModels>
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "Calendar";
    var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());
}

<h2>@user.UserName's Calendar</h2>

<br />

<p>
    Use buttons to display by calendar type
</p>
<label>@Html.RadioButton("EmployeeCalendar", @Model["ABC"])Employee Calendar</label>
<label>@Html.RadioButton("ProjectCalendar", @Model["ABC"])Project Calendar</label>
<div class="form-group">
    @Html.LabelFor(model => model.Project)
    @Html.DropDownListFor(model => model.Project, Model.Project, "- Please select a Project -", new { @class = "form-control}" })
</div>
<button type="submit" class="btn btn-primary"> Load Calendar </button>

<br />
<p>Click on the day to add an entry to your calendar</p>

<br />
@* Enter Calendar here *@

