@model CSDHRProject.Models.PayrollModels
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "Calendar";
    var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());
}

<h2>@user.UserName's Calendar</h2>

<br />

@* Radio Buttonns *@
<p>
    Use buttons to display by calendar type
</p>
<label>@Html.RadioButton("Calendar", "Employee", new { id = "isEmployee" })Employee Calendar</label>
<label>@Html.RadioButton("Calendar", "Project", new { id = "isProject" })Project Calendar</label>

@* Dropdown Project Selector *@
<div class="form-group">
    @Html.LabelFor(model => model.Project)
        @Html.DropDownListFor(model => model.ProjectName, Model.ProjectName, "- Please select a Project -", new { @class = "form-control}" })

    @Html.DropDownList("Project", ViewData["projects"] as List<SelectListItem>)

    @Html.EditorFor(model => model.Project, new { htmlAttributes = new { @class = "form-control" } }));
</div>
<button type="submit" class="btn btn-primary"> Load Calendar </button>

<br />
<p>Click on the day to add an entry to your calendar</p>

<br />
@* Enter Calendar here *@
<form id="form1" runat="server">

    <asp:Calendar id="calendar1" runat="server">

        <OtherMonthDayStyle ForeColor="LightGray">
        </OtherMonthDayStyle>

        <TitleStyle BackColor="Blue"
                    ForeColor="White">
        </TitleStyle>

        <DayStyle BackColor="gray">
        </DayStyle>

        <SelectedDayStyle BackColor="LightGray"
                          Font-Bold="True">
        </SelectedDayStyle>

    </asp:Calendar>

</form>

<table style="width: 95%; border: 0px; padding: 0px;" id="display">
    <tr>
        <td id="contentCol" style="vertical-align: top">
            <br />
            <div id="calendar">
                <div id="head">
                    <div style="float: left; width: 160px; padding-left: 15px;">
                        &lt;&lt;
                        <a style="color: white; font-size: 12px;" href="PersonalCalendar.aspx?Month=03&Year=2017">Previous Month</a>
                    </div>
                    <div style="float: right; text-align: right; width: 160px; padding-right: 15px;">
                        <a style="color: white; font-size: 12px;" href="PersonalCalendar.aspx?Month=05&Year=2017">Next Month</a>
                        &gt;&gt;
                    </div>
                    <div style="text-align: center; font-weight: bold; font-size: large;">
                        April 2017
                    </div>
                </div>
                <table style="background-color: #FAFAFA; border: 1px solid #AAAAAA; border-spacing: 1px; padding: 0px; width: 100%;">
                    <tr>
                        <th style="width: 14%">
                            Sunday
                        </th>
                        <th style="width: 14%">
                            Monday
                        </th>
                        <th style="width: 14%">
                            Tuesday
                        </th>
                        <th style="width: 14%">
                            Wednesday
                        </th>
                        <th style="width: 14%">
                            Thursday
                        </th>
                        <th style="width: 14%">
                            Friday
                        </th>
                        <th style="width: 14%">
                            Saturday
                        </th>
                    </tr>
                    <tr><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="weekend"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/01/2017">1</a><ul></td></tr>
                    <tr><td class="weekend"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/02/2017">2</a><ul><li><a href="/custom/HRIS/Calendars/EditEvent.aspx?id=359264&type=TimeSheet&status=Approved&emp_id=0600299&position_id=24031&KeepThis=true&TB_iframe=true&height=700&width=700" class="thickbox">7h Worked - Approved</a></li> </td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/03/2017">3</a><ul><li><a href="/custom/HRIS/Calendars/EditEvent.aspx?id=359468&type=TimeSheet&status=Approved&emp_id=0600299&position_id=24031&KeepThis=true&TB_iframe=true&height=700&width=700" class="thickbox">4h 30m Worked - Approved</a></li> </td><td class="weekday payday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/04/2017">4</a><ul><li><a href="/custom/HRIS/Calendars/EditEvent.aspx?id=359672&type=TimeSheet&status=Approved&emp_id=0600299&position_id=24031&KeepThis=true&TB_iframe=true&height=700&width=700" class="thickbox">3h 30m Worked - Approved</a></li> </td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/05/2017">5</a><ul><li><a href="/custom/HRIS/Calendars/EditEvent.aspx?id=359810&type=TimeSheet&status=Approved&emp_id=0600299&position_id=24031&KeepThis=true&TB_iframe=true&height=700&width=700" class="thickbox">4h 30m Worked - Approved</a></li> </td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/06/2017">6</a><ul><li><a href="/custom/HRIS/Calendars/EditEvent.aspx?id=360138&type=TimeSheet&status=Approved&emp_id=0600299&position_id=24031&KeepThis=true&TB_iframe=true&height=700&width=700" class="thickbox">4h 30m Worked - Approved</a></li> </td><td class="weekday timesheet_due"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/07/2017">7</a><ul></td><td class="weekend"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/08/2017">8</a><ul></td></tr>
                    <tr><td class="weekend"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/09/2017">9</a><ul><li><a href="/custom/HRIS/Calendars/EditEvent.aspx?id=360550&type=TimeSheet&status=Approved&emp_id=0600299&position_id=24031&KeepThis=true&TB_iframe=true&height=700&width=700" class="thickbox">7h Worked - Approved</a></li> </td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/10/2017">10</a><ul><li><a href="/custom/HRIS/Calendars/EditEvent.aspx?id=360670&type=TimeSheet&status=Approved&emp_id=0600299&position_id=24031&KeepThis=true&TB_iframe=true&height=700&width=700" class="thickbox">4h 30m Worked - Approved</a></li> </td><td class="today"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/11/2017">11</a><ul></td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/12/2017">12</a><ul></td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/13/2017">13</a><ul></td><td class="holiday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/14/2017">14</a><ul><li><span style="font-size: 11px; font-weight: bold;">Good Friday</span></li></td><td class="weekend"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/15/2017">15</a><ul></td></tr>
                    <tr><td class="weekend"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/16/2017">16</a><ul></td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/17/2017">17</a><ul></td><td class="weekday payday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/18/2017">18</a><ul></td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/19/2017">19</a><ul></td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/20/2017">20</a><ul></td><td class="weekday timesheet_due"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/21/2017">21</a><ul></td><td class="weekend"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/22/2017">22</a><ul></td></tr>
                    <tr><td class="weekend"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/23/2017">23</a><ul></td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/24/2017">24</a><ul></td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/25/2017">25</a><ul></td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/26/2017">26</a><ul></td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/27/2017">27</a><ul></td><td class="weekday"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/28/2017">28</a><ul></td><td class="weekend"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/29/2017">29</a><ul></td></tr>
                    <tr><td class="weekend"><a style="font-size: 11px; font-weight: bold;" href="/custom/HRIS/Calendars/AddEvent.aspx?Date=04/30/2017">30</a><ul></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td><td class="blank"></td></tr>
                </table>
            </div>

        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
