@model IEnumerable<CSDHRProject.Models.PayrollModels>
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "PayrollHome";
    var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());

}

<!-- Get this stupid thing to work later -->
<h2>@user.UserName's Timesheet Summary</h2>

<div>
    <p>Employee Name: @user.UserName</p>
    <p>Employee Id: @user.Id</p>
    <p>Project: @*@user.*@</p>
    <p>Position: @*@user.*@</p>
    <p>Manager: @user.manager</p>
</div>

<div>
    <table class="table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Project
            </th>
            <th>
                Work Note
            </th>
            <th>
                Hours
            </th>
            <th>
                Entry Added
            </th>
            <th>
                Status
            </th>
        </tr>
        <tr>

        </tr>
    </table>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
