@model IEnumerable<CSDHRProject.Models.PayrollModels>
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "PayrollHome";
    var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());
}

<!-- Get this stupid thing to work later -->
<h2>@user.UserName's Payroll Summary</h2>


<h6>@Html.ActionLink("Instructions on entering timesheets", "Instructions")</h6>
<h6>@Html.ActionLink("Payroll Schedule", "Calendar")</h6>

<br />

@* Link Table *@
<table class="table">
    <tr>
        <th>
            Calendars
        </th>
        <th>
            Timesheets
        </th>
        <th>
            Reports
        </th>
    </tr>
    <tr>
        <td>
            @*Employee Calendar*@
            @Html.ActionLink("Employee Calendar", "Calendar")
        </td>
        <td>
            @*Timesheet Entry*@
            @Html.ActionLink("Add a Timesheet Entry", "TimesheetEntry")
        </td>
        <td>
            @*Project Report*@
            @Html.ActionLink("Project Report", "Reports")
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @*Employee Timesheets*@
            @Html.ActionLink("Employee Timesheet", "EmployeeTimesheet")
        </td>
        <td>
            @*Employee Report*@
            @Html.ActionLink("Employee Report", "Reports")
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            @*Project Timesheets*@
            @Html.ActionLink("Project Timesheet", "ProjectTimesheet")
        </td>
        <td></td>
    </tr>
</table>

<br />

@* Project Table *@
<table class="table">
    <tr>
        <th>
            Project
        </th>
        <th>
            Enter Hours
        </th>
        <th>
            Hours Entered
        </th>
        <th>
            Hours Approved
        </th>
        <th>
            View Hours
        </th>
    </tr>
    @*@foreach (var project in Model)*@
    @* { *@
        <tr>
            <td></td>
            <td>
                @*Enter Hours*@
                @Html.ActionLink("Enter Hours", "TimesheetEntry")
            </td>
            <td></td>
            <td></td>
            <td>
                @*View Hours*@
                @Html.ActionLink("View Hours", "EmployeeTimesheet")
            </td>
        </tr>
    @* } *@
</table>

@*@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@