@model CSDHRProject.Models.NewHireEditViewModel


@{
    ViewBag.Title = "Details";
    var viewModel = Model.UserData;
}

<h2>Details</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserData.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.firstname )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.Sin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.Sin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.BenefitNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.BenefitNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.RateOfPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.RateOfPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.VacationDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.VacationDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.SickDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.SickDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.BenefitCertificateFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.BenefitCertificateFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserData.TrainingCertificateFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserData.TrainingCertificateFileName)
        </dd>

    </dl>
</div>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = viewModel.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
