@model CSDHRProject.Models.ApplicationEditViewModel

@{
    ViewBag.Title = "Create";
}


<style>
    #feature img {
        margin: auto;
    }
</style>
<div class="row">

    <img id="feature" class="img-responsive" src="~/Content/images/logo_background.PNG" />

</div>

<h2>Create a new Applicant</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>JobApplication</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class="control-label col-md-4">First Name</p>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Item.ApplicantFirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.ApplicantFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-4">Last Name</p>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Item.ApplicantLastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.ApplicantLastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-4">Email</p>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Item.ApplicantEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.ApplicantEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-4">Resume File</p>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ResumeFile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ResumeFile, "", new { @class = "text-danger" })
                </div>
</div>

        <div class="form-group">
            <p class="control-label col-md-4">Cover Letter</p>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CoverLetterFile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CoverLetterFile, "", new { @class = "text-danger" })
                </div>
</div>

        <div class="form-group">
            <p class="control-label col-md-4">Application Status</p>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Item.ApplicantStatus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item.ApplicantStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
